
.body {
		font-family: "Montserrat",sans-serif;
}
.main {
	display: flex ;
	flex-direction: row-reverse;
}
.project-title {
	font-size: 45px;
	background-color: blue;
}
.about {
	font-size: large;
}
.projects {
	font-size: large;
}
.work {

}
.education {

}
.sidebar {
	
}