
.body {
		font-family: "Montserrat",sans-serif;
}
/* main styles */
.main {
	display: flex ;
	flex-direction: row-reverse;
	background-color: #f5f7fa;
}
.main-content {
	background-color: #fff;
}
/* project style */
.project-title {
	font-size: 45px;
	color : blue;
}
/* about style */
.about {
	background-color: yellow ;
}
.projects {
	background-color: chocolate ;
	margin-top: 100px ;
	margin-bottom: 300px ;
	margin-left: 60px ;
	margin-right: 90px ;
}
.work {
background-color: cyan ;
padding: 100px 40px 50px 20px ;
}
.education {
background-color: darkblue ;
}
.sidebar {

}