
.body {
		font-family: "Montserrat",sans-serif;
}
.main {
	display: flex ;
}
.project-title {
	font-size: 45px;
	background-color: blue;
}
.about {
	font-size: large;
}
.projects {
	font-size: large;
}
.work {

}
.education {

}