
.body {
		font-family: "Montserrat",sans-serif;
}
/* main styles */
.main {
	display: flex ;
	flex-direction: row-reverse;
	background-color: #f5f7fa;
}
.main-content {
	background-color: #fff;
}
/* project style */
.project-title {
	font-size: 45px;
	color : blue;
}
/* about style */
.about {
	background-color: yellow ;
}
.projects {
	background-color: chocolate ;
	margin-top: 100px ;
	margin-bottom: 300px ;
	margin-left: 60px ;
	margin-right: 90px ;
}
.work {
background-color: cyan ;
padding: 100px 40px 50px 20px ;
}
.education {
background-color: darkblue ;
}
.sidebar {
background-color: #1e2939;
padding-top: 40px ;
width: 370px;
}
.photo {
	width: 370px ;
	margin-bottom: 50px ;
}
.contacts
.tech-skills {
	margin-left: 40px ;
}
.sidebar-title {
	color: #fff ;
	font-style: normal ;
	font-weight: bold ;
	font-size: 22px ;
	line-height: 27px ;
}
.contact-type {
	font-style: normal ;
	font-weight: bold ;
	font-size: 14px ;
	line-height: 24px ;
	color: #fff ;
	margin-right: 5px;
}
.contact-link {
	font-style: normal ;
	font-weight: bold ;
	font-size: 14px ;
	line-height: 24px ;
	color: #565e6a;
}
.tech-skills-list {
	color: #fff ;
	padding: 0px ;
	margin-left: 17px ;
}
.tech-skills-item {
	color: #fb6d3a ;
}
.tech-skills-text {
	color: #fff ;
}